.dropdown {
  position: absolute;
  top: 25px;
  left: 10px;
  background: #bdbdbd;
  padding: 5px;
  width: 60px;
  border-radius: 5px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.dropdown > li {
  list-style: none;
  border-bottom: 1px solid #eee;
}

.dropdown > li:last-child {
  border-bottom: none;
}
