.MarkDownViewrHeader {
  display: flex;

  justify-content: flex-end;
}

.MarkDownEditBtn {
  display: flex;
  align-items: center;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
}
