.leftMenu {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100%;
  background-color: #eee;
  overflow-y: auto;
  transition: width 0.5s;
  box-shadow: 2px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.leftMenu-fold {
  width: 50px;
  background-color: #eee;
  overflow-y: auto;
  transition: width 0.5s;
  box-shadow: 2px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.menuList {
  padding: 5px 10px;
}

.menu {
  height: calc(100% - 150px);
  overflow-y: auto;
}

.menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px;
  font-size: 21px;
  font-weight: 700;
  border-bottom: 1px solid #000;
}

.selectMenuTab {
  border-top: 1px solid #000;
  display: flex;
  height: 80px;
  justify-content: space-around;
}

.menuTab {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.menuSearch {
  padding: 20px;
}

.main {
  height: 100%;
  width: calc(100% - 280px);
  overflow: auto;
}

.item {
  display: flex;
  align-items: center;
  padding: 0.2em;
}

.item-selected {
  display: flex;
  align-items: center;
  padding: 0.2em;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
}

.dir {
  font-size: 14px;
  font-weight: 600;
}

.file {
  padding: 0.2em;
  margin: 0.2em;
  font-size: 14px;
  font-weight: 600;
  /* background: #fff;
  border-radius: 10px; */
  cursor: pointer;
}
.searchdResult {
  padding-block: 10px;
}

.searchedFile {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.highlight {
  background: #f6ec83;
  padding: 2px;
}

.editTextArea {
  height: 100%;
  width: 50%;
  border: none;
  border-right: 1px solid lightgray;
  padding: 20px;
  overflow: auto;
}

.editTextArea:focus {
  outline: none;
}

.docsView-edit {
  height: 100%;
  width: 50%;
}

.viewr {
  display: flex;
  height: 100%;
  width: 100%;
}

.mdViewr {
  width: 100%;
}

.mdViewr-edit {
  width: 50%;
  overflow: auto;
}
